.full {

  background-color: rgba(0,0,0,0.4);
}

body {
  /*background: linear-gradient(#011627, #367A87);*/
  /*background: linear-gradient(135deg, rgba(38,43,89,1) 0%, rgba(38,43,89,1) 4%, rgba(50,52,89,1) 18%, rgba(50,75,117,1) 39%, rgba(17,189,178,1) 86%, rgba(88,209,185,1) 99%, rgba(97,212,183,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262b59', endColorstr='#61d4b7', GradientType=1 );*/
  /*background-image: url(../images/pixel.jpg);*/
  background-image: url(../img/color-2174049.png);
  /*background-color: grey;*/
  background-size: cover !important;
  font-size: 1rem;
  font-family: 'Fjalla One', sans-serif;
  font-style: italic;
  color: black;
  text-shadow: 2px 2px 2px rgba(145, 151, 158, 0.68);
  opacity: 0.8;
}

.nav{
  list-style-type: none;
  text-align: center;
  font-size: 22px;
  margin-bottom: 180px;
}

.nav li {
  display: inline;
  margin: 150px;
}

a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 2px rgba(145, 151, 158, 0.68);
  opacity: 0.8;
}

h1 {
  text-align: center;
  font-size: 60px;
  /*color: #AADDFF;*/
  margin-top: 85px;
  margin-bottom: 250px;
  /*text-shadow: 4px 4px 2px rgba(120, 209, 219, 0.48);*/
}

h2 {
  /*text-align: center;*/
  font-size: 45px;
  /*color: #AADDFF;
  text-shadow: 4px 4px 2px rgba(120, 209, 219, 0.48);*/
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/*.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}*/

h3 {
  font-size: 28px;
  margin-top: 150px;
  text-align: center;
}
#about-me {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 55px;
}

p {
  font-size: 22px;
}

#portfolio {
  margin-top: 250px;
  margin-bottom: 180px;
  text-align: center;
}

.flex-footer {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  letter-spacing: 3px;
  text-shadow: 4px 4px 2px rgba(120, 209, 219, 0.48);
}

#copyright {
  font-size: 13px;
}

.social {
font-size: 1.5em;
}

.social .fa {
  font-size: 1.5em;
  transition: all 0.5s ease-out;
  margin: 0 8px 0 8px;
}

.social .fa:hover {
  transition: all 0.4s ease-in;
  transform: scale(1.8);
}

.social a {
  text-decoration: none;
}
